@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

* {
  font-family: "Sawarabi Mincho", serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: #242424;
}

#text {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}
